/* end of section exercise, utilizing many of the concepts I learned in the previous lessons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

header {
  background-image: url('https://cdn.pixabay.com/photo/2020/07/23/01/29/books-5430104_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

h1 {
  margin: 25px 0px 25px 0px;
}

.nav-item {
  width:33%;
  color: black;
  display: inline-block;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
}

.nav-item:hover {
  color: white;
  background-color: orange;
  text-decoration: none;
  transition: .2s;
  border: 2px solid black;
}

main {
  margin-top: 20px;
}

section{
  margin-top: 10px;
  margin-bottom: 10px;
}
#welcome > p {
  text-align: center;
  margin: 0 5em 0 5em;
}

#catalog-input, #form-btn {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 8px;
}

#catalog-input{
  border: 2px solid orange;
  width: 37.5%;
}

#staff-picks{
  text-align:center;
}

.staff-pick-img{
  border: 1px solid black;
  border-radius: 0 7px 7px 0;
  width: 10em;
  height: 15em;
}
